<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Game.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Game.Properties.Settings>
            <setting name="Player1" serializeAs="String">
                <value>Player1</value>
            </setting>
            <setting name="Player2" serializeAs="String">
                <value>Player2</value>
            </setting>
            <setting name="Player3" serializeAs="String">
                <value>Player3</value>
            </setting>
            <setting name="Player4" serializeAs="String">
                <value>Player4</value>
            </setting>
            <setting name="Player5" serializeAs="String">
                <value>Player5</value>
            </setting>
            <setting name="Player6" serializeAs="String">
                <value>Player6</value>
            </setting>
            <setting name="Player7" serializeAs="String">
                <value>Player7</value>
            </setting>
            <setting name="Player8" serializeAs="String">
                <value>Player8</value>
            </setting>
            <setting name="Player9" serializeAs="String">
                <value>Player9</value>
            </setting>
            <setting name="Player10" serializeAs="String">
                <value>Player10</value>
            </setting>
            <setting name="Score1" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="Score2" serializeAs="String">
                <value>4500</value>
            </setting>
            <setting name="Score3" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="Score4" serializeAs="String">
                <value>3500</value>
            </setting>
            <setting name="Score5" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="Score6" serializeAs="String">
                <value>2500</value>
            </setting>
            <setting name="Score7" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="Score8" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="Score9" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Score10" serializeAs="String">
                <value>500</value>
            </setting>
        </Game.Properties.Settings>
    </userSettings>
</configuration>