russian { display: block; font-family: Code2000; font-style: italic; font-size: 36pt;}

hebrew { display: block; font-family: Code2000; font-size: 36pt; }

arabic { display: block; font-family: Code2000; font-size: 36pt; }

chinese { display: block; font-family: Code2000; font-size: 48pt; }
    
japanese { display: block; font-family: Code2000; font-size: 48pt; }
